.pea-controlls {
  margin: 10px 0px;
}

.pea-svg-container {
  white-space:nowrap
}

.svg-container {
  display: inline-block;
  white-space:normal;
  outline: 1px solid #017A57;
  height: 255px;
}

.pea-prob-plot {
  width: 600px;
  overflow-x: scroll;
  overflow-y: visible;
  float: left;
  margin-right: 10px;
}

svg .yellow-pea {
  fill: #FFCC2A;
}

svg .green-pea {
  fill: #A9CF46;
}

svg .new.green-pea, svg .new.yellow-pea {
  stroke-width: 2;
}

svg .new.green-pea {
  stroke: #71AB2E;
}

svg .new.yellow-pea {
  stroke: #FFB100
}

svg .counter-text {
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 30px;
  fill: #017A57;
}
